:root{
    --branco-principal: #ffff;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --cor-red: #FF0000;
    --cor-col:#FF00FF;
    --fote-principal: "inter";
    --botao-azul-efeito: #348cf8; ;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fote-principal);
    font-size: 16px;
    font-weight: 400;

}
*{
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;

}

.container{
       height: 100vh;
       display: grid;
       grid-template-columns: 33% 33% 33%;
}

.container__bot達o{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 0,5em;
    color: var(--branco-principal);
    display: block;
    border: 2px solid var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1em;

    
}

.bot達o_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 26px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}
.container__caixa{
    margin: 0 2em;
}

.secundario__imagem{
    width: 95%;
    
    
}

.secundario{
    align-items: center;
    margin: 0 10em;
    

}

.descricao__titulo{
    font-weight: 700;
    font-size: 35px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
    
}

.descricao__texto{
    color: var(--cinza-secundario);
    font-size: 14px;
}

.secundario__bot達o{
    display: inline-block;
    color: var(--branco-principal);
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}

.secundario__imagem{
    width: 90%;
}

.descricao__titulo{
    font-size: 30px;
}

.descricao__texto{
    color: var(--cinza-secundario);
    font-size: 14px;

}

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item{
    font-size: 25px;
    color: var(--branco-principal);

}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;

}

.lista__link a{
   text-decoration: none;
   color: var(--branco-principal);
   margin-left: 1em;

}

.rodape__texto{
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;

}

.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape__logo{
    margin-bottom: 2em;
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: var(--cor-col);
}
.container__bot達o:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}

